<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link type="text/css" href="/css/bootstrap.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">SPRINGFLIX</a>
</nav>

<main role="main" class="container-fluid" style="padding-top: 60px;">

    <div class="row">
        <div class="col-3 card-deck" th:each="video: ${videos}">
            <div class="card border-primary" style="width: 18rem; margin-top: 1rem;">

                <iframe id="player" type="text/html" width="100%" height="180"
                        th:src="${video.getYoutubeUrl()}"
                        frameborder="0"></iframe>

                <div class="card-body">
                    <h5 class="card-title" th:text="${video.getTitle()}"></h5>
                    <p class="card-text" th:text="${video.getDescription()}"></p>
                </div>
            </div>
        </div>
    </div>

</main>


</body>
</html>
